<div class="icon-wrapper" {{action 'toggleContentList'}}>
  <div class="fridge-icon"></div>
  {{#if hasIngredients}}
    <div class="num-icon">{{numIngredients}}</div>
  {{/if}}
</div>
<div class="fridge-contents-list">
  {{#if hasIngredients}}
    <div class="contents-wrapper">
      {{#each ingredientList as |ingredient|}}
        {{item-fridge-list ingredient=ingredient}}
      {{/each}}
    </div>
    <div class="clear-all-btn" {{action 'clearContentList'}}>CLEAR ALL</div>
  {{else}}
    <div class="empty-text">Your fridge is empty</div>
  {{/if}}
</div>
{{yield}}
