<div class="icon-wrapper" {{action 'toggleContentList'}}>
  <div class="fridge-icon"></div>
  {{#if hasIngredients}}
    <div class="num-icon">{{numIngredients}}</div>
  {{/if}}
</div>
<div class="fridge-contents-list">
  {{#if hasIngredients}}
    {{#each ingredientList as |ingredient|}}
      <div>{{ingredient.name}}</div>
    {{/each}}
  {{else}}
    <span class="empty-text">Your fridge is empty</span>
  {{/if}}
</div>
{{yield}}
